# There are no required fields for the .travis.yml
# If this file were empty it would still be valid.
#

# A test matrix is possible in Travis by supplying multiple environment
# variables and language versions.
language: php
php:
 - '5.3'

env:
  global:
    - CUSTOM_MODULE_PATH='build/sites/all/modules/custom'
    - DATABASE='drupal'
    - DB_USERNAME='root'
    - DB_ENCODE='utf8'

mysql:
  database: $DATABASE
  username: $DB_USERNAME
  encoding: $DB_ENCODE


# Build fails if composer is not updated to latest version.
before_install:
  - composer self-update
  - pear channel-discover pear.drush.org
  

# Prepare to build a test site by installing Drush.
install:
  - pear install drush/drush
  - phpenv rehash
